<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Bare - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <style>
  body {
    padding-top: 54px;
  }
  @media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
  }
</style>

</head>

<body>



  <!-- Page Content -->
  <div class="container card">
    <div class="row card-block">
      <div class="col-lg-12 text-center">
        <h1 class="mt-5">Face Recognition</h1>
        <p class="lead">Upload File for facial recognition (modi or kejriwal)</p>


        <form method="post" action="/index" enctype="multipart/form-data">
          
          Upload Image:
          <input  class="btn btn-default btn-file" type="file" name="image" accept="image/*">
          <br>
          Classifier:
          <select name="classifier">
            <option value="linear_svm_openface">Linear SVM</option>
            <option value="rbf_svm_openface">RBF SVM</option>
            <option value="knn_openface">KNN</option>
            <option value="random_forest_openface">Random forest</option>
          </select>


          <br>
          <br>
          <input type="submit" value="submit" class="btn btn-primary">
        </form>

        <hr />

        {% if(request.method == 'POST') %}

        <div class="row">
          <div class="col-md-12">

            <img style="max-height: 80%; max-width: 80%;" src="/static/output/{{file_name}}">
            <br>
            <br>
            <hr />
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">

          </div>
          <div class="col-md-4">
            <table class="table-striped">
              <tbody>
                <tr>
                  <td>
                    Number of faces detected 
                  </td> 
                  <td>
                    {{num_faces}}
                  </td>
                </tr>

                {% for face in faces %}

                <tr>
                  <td>
                    face {{loop.index}}
                  </td> 
                  <td>
                    {{face}}
                  </td>
                </tr>

                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="col-md-4">

          </div>
        </div>




        {% endif %}


        <div>
          <h2>Face Recogition Pipeline:</h2>

          <h4 class="mt-5">Step 1: Detect faces</h4>
          <p class="lead">Faces are detected using current state of the art HOG(Histogram of oriented gradients) using Dlib and opencv for image processing. 
          </p>
          <h4 class="mt-5">Step 2: Align face using facial land marks</h4>
          <p class="lead">Using Face Landmark Estimation algorithm we are going to detect the Facial featureand the apply tranformations to align the face. It detects 68 landmarks on the face and align the face according to those features.
          </p>
          <h4 class="mt-5">Step 3: Generate Embeddings using NN2 Facenet</h4>
          <p class="lead">
            Generate 128 embeddings as described in the paper facenet(https://arxiv.org/pdf/1503.03832.pdf) using the openface's implementation of facenet.
            <strong>Transfer Learning can also be used to extract features from face</strong>
            <br>
            After applying PCA on the Embeddings generated for the dataset. gives the following result:
            <br>
            <img src="/static/pca_embeddings_openface.png">
            <br>
            As we can easily observe the 2 clusters. We can use linear kernel in SVM to classify these images. Also other classifiers where used such as KNN, Random Forest. 
          </p>
          <h4 class="mt-5">Step 4: Train classifiers for Recognition</h4>
          <p class="lead">
            SVM with Linear kernel, SVM with RBF Kernel, KNN, Random forest classifier were trained using SKlearn.
          </p>
          <hr />
          <h2 class="mt-5">Data collection</h2>
          <p class="lead">All data was collected using google images and "Fatkun Batch Download Image" google chrome plugin</p>
          <p class="lead">Number of Modi images: 135 <br>
          Number of Kejriwal images: 121</p>

          <hr />
          <h2 class="mt-5">References:</h2>
          <p>1. https://cmusatyalab.github.io/openface/<br>
2. https://medium.com/@ageitgey/machine-learning-is-fun-part-4-modern-face-recognition-with-deep-learning-c3cffc121d78<br>
3. https://arxiv.org/abs/1503.03832</p>
        </div>

        <br>
        <br>

      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js"></script>

</body>

</html>
